<h1>新規Tweet作成画面</h1>

<%= form_with(model: @tweet, local: true) do |form| %>
  <div class="tweet_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>