<h2>トップ画面</h2>

<ul class="top_menu">
    <li><%= link_to '新規ツイート', new_tweet_path %></li>
    <li><%= link_to 'ツイート一覧画面へ', tweets_path %></li>
    <li><%= link_to 'DIVE INTO CODEのページへ', 'https://diveintocode.jp/'  %></li>
</ul>